:root {
  --c-black: #000;
  --c-white: #FEFDFD;
  --c-cream: #f5f2eb;
  --c-tan: #b9b3a6;
  --c-tan-light: #ccc8bc;
  --c-tan-dark: #6c685f;
  --c-gray-light: #4e4b46;
  --c-gray: #33322f;
  --c-gray-dark: #262523;
  --c-orange: #c67936;
  --c-orange-dark: #954500;
  --c-teal: #3caea3;
  --c-blue: #3caea3;

  --rgb-teal: 60, 174, 163;
  --rgb-gray: 51, 50, 47;
}
